

<ion-content fullscreen>
  <div class="contact-page">
    <section class="contact-header">
      <h1>Get in Touch</h1>
      <p>If you have any questions or would like to work together, feel free to reach out!</p>
    </section>

    <!-- <section class="contact-form">
      <form (ngSubmit)="submitForm()" #contactForm="ngForm">
        <ion-item>
          <ion-label position="floating">Your Name</ion-label>
          <ion-input type="text" name="name" ngModel required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Your Email</ion-label>
          <ion-input type="email" name="email" ngModel required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Message</ion-label>
          <ion-textarea name="message" ngModel required></ion-textarea>
        </ion-item>

        <ion-button expand="block" type="submit" [disabled]="!contactForm.form.valid">Send Message</ion-button>
      </form>
    </section> -->

    <section class="contact-info">
      <!-- <h2>Other Ways to Reach Me</h2> -->
      <p><strong>Email:</strong> amarnath41996&#64;gmail.com</p>
      <p><strong>Phone:</strong> +91- 7982536112</p>
      <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/nath-amar/" target="_blank"> linkedin.com/in/nath-amar</a></p>
      <p><strong>Github:</strong> <a href="https://github.com/amar-nath1" target="_blank"> github.com/amar-nath1</a></p>
    </section>
  </div>
</ion-content>
